* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
}

.cnt {
  display: grid;
  grid-template-areas:
    "header header imagen"
    "aside contenido contenido"
    "footer footer footer";
}

.header-text {
  grid-area: header;
  text-align: center;
  background-color: #b01e13;
  height: 70px;

  color: white;
}

.imagen {
  text-align: center;
  color: white;
  grid-area: imagen;
  background-color: #560f0d;
  height: 70px;
}
.cont-left {
  display: grid;
  place-items: center;
  grid-area: aside;
  background-color: #ff6825;
  height: 80vh;
}

.aside1,
.aside2 {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
  width: 80%;
  background-color: white;
}

.aside1 p,
.aside2 p {
  color: #ff0f00;
  margin-top: 10px;
}

.cont-right {
  display: grid;
  grid-area: contenido;
  place-items: center;
  background-color: #ff391e;
}

.contenido,
.texto {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  width: 95%;
  height: 90%;
}

.contenido p,
.texto p {
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-area: footer;
  height: 12.6vh;
  background-color: #560f0d;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 20px;
}
